* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Geologica", sans-serif;
}

nav{
    position: fixed;
    height: 10vh;
    width: 100%;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
.right_side, .left_side{
    display: flex;
    align-items: center;
}
.right_side ul{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;

    
}
.right_side a{
    text-decoration: none;
    list-style: none;
    color: aliceblue;
    padding-left: 5%;
    margin: 5%;
    cursor: pointer;
}
.login{
    height: 100%;
    display: flex;
    justify-content: center;
}
.login_container{
    background-color:bisque;
    color: black;
    /* position: absolute; */
    /* top: 10vh; */
    height: 40vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    margin: auto;
}